@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-text {
  color: #F0E9E4;
  text-decoration: none;
}

.logo {
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.logo:hover {
  animation: App-logo-spin 1s ease;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

.log-button {
    background-color: #FCEDE3;
    font-family: "Quando", serif;
    border-radius: 10px;
    color: #3E3D3B;
    border: none;
    padding: 7px 10px;
    margin: 10px 0px;
    box-shadow: 0 5px #E5A1C2;
    cursor: pointer;
}

.log-button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
    cursor: pointer;
}

.log-button {
  display: inline-block;
  float: right;
}

.user-greeting {
  display: inline-block;
  float: right;
  margin: 18px 8px;
}
