.list-container {
    background-color: #F0E9E4;
    font-family: "Quando", serif;
    text-align: left;
    border-radius: 20px 0px 0px 20px;
    color: #3E3D3B;
    height: 100vh;
    padding: 0px;
}

.todo-header {
    font-size: 15px;
}

.header {
    font-size: 15px;
    padding: 5px 30px 0px 40px;
}

.new-todo {
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-family: "Quando", serif;
    width: 300px;
}

.new-todo:focus {
  outline: none;
}

  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 8px 8px 8px 40px;
    font-size: 12px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Darker background-color on hover */
  ul li:hover {
    background: #A9A9A9;
    animation: fade 1s ease;
    color: white;
  }

  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #A9A9A9;
    color: #fff;
    text-decoration: line-through;
  }

  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 5px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 5px;
  }

  /* Style the close button */
  .close {
    position: absolute;
    font-weight: bold;
    height: 50%;
    right: 25px;
    top: 8px;
    border-radius: 15px;
    opacity: 0.6;
  }

  .close:hover {
    color: white;
    opacity: 1;
    animation: fade 1s ease;
  }

  @keyframes fade {
    from {
      color: #3E3D3B;
      opacity: 0.6;
    }
    to {
      color: white;
      opacity: 1;
    }
  }
