.container {
    background-color: #F0E9E4;
    font-family: "Quando", serif;
    text-align: left;
    border-radius: 20px 0px 0px 20px;
    color: #3E3D3B;
    height: 100vh;
    padding: 0px;
}

.todo-header {
    font-size: 15px;
}

.header {
    font-size: 15px;
    padding: 5px 30px 0px 40px;
}

.new-todo {
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-family: "Quando", serif;
}

  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 8px 8px 8px 40px;
    font-size: 12px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 5px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 5px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }