.login-container {
    background-color: #EDCADB;
    font-family: "Quando", serif;
    padding: 10px 40px 40px 40px;
    text-align: left;
    border-radius: 20px 0px 0px 20px;
    color: #3E3D3B;
}

.header {
    font-size: 20px;
}

.body {
    font-size: 12px;
}

form {
    padding: 10px 0px;
}

.login-input {
    border-radius: 20px;
    border: none;
    opacity: 75%;
    padding: 7px 10px;
    margin: 5px 0px 10px 0px;
}

label {
    font-size: 12px;
}

.row {
    white-space: nowrap;
    margin-bottom: -18px;
}

.row > label, .row > p {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

.styled-button {
    background-color: #3B55DE;
    font-family: "Quando", serif;
    border-radius: 10px;
    color: #FEFDFD;
    border: none;
    padding: 7px 10px;
    margin: 10px 0px;
    box-shadow: 0 5px #28357B;
    cursor: pointer;
}

.styled-button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
    cursor: pointer;
  }

.forgot-password {
    margin: 0px;
    font-size: 10px;
    color: #3B55DE;
    text-decoration: underline;
}

.password-match-error {
  color: red;
}
