.login-container {
    background-color: #EDCADB;
    font-family: "Quando", serif;
    padding: 10px 40px 40px 40px;
    text-align: left;
    border-radius: 20px 0px 0px 20px;
    color: #3E3D3B;
    margin-top: 20px;
    box-shadow: -9px 12px 1.5px rgb(0,0,0,0.3);
}

.log-header {
  font-size: 24px;
}

.body {
    font-size: 15px;
}

form {
    padding: 10px 0px;
}

.login-input {
    border-radius: 20px;
    border: none;
    opacity: 75%;
    padding: 7px 10px;
    margin: 5px 0px 10px 0px;
}

label {
    font-size: 17px;
}

.row {
    white-space: nowrap;
    margin-bottom: -18px;
}

.row > label, .row > p {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

.styled-button {
    background-color: #3B55DE;
    font-family: "Quando", serif;
    font-size: 15px;
    border-radius: 10px;
    color: #FEFDFD;
    border: none;
    padding: 7px 10px;
    margin: 10px 0px;
    box-shadow: 0 5px #28357B;
    cursor: pointer;
}

.styled-button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
    cursor: pointer;
  }

.styled-button:focus {
  outline: 0;
}

.styled-button:hover {
  animation: pulse 2s ease;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

.error {
    display: inline-block;
    font-weight: bold;
    margin-left: 14px;
    color: #FFFFFF;
    text-shadow: -1px 1px 5px rgb(0,0,0,0.2);
    animation: pulse 2s ease infinite;
}

.register-button {
    margin-top: -30px;
}
